---
import Layout from "$lib/Layout.astro";
import { getSnippetNames, readSnippet } from "$lib/util";
import { Image } from "astro:assets";

export async function getStaticPaths() {
    const snippets = await getSnippetNames();
    return snippets.map((name) => ({ params: { name }}));
}

const { name } = Astro.params;
const snippet = await readSnippet(name);

// Hacky way to load the image without having it actually in the project
let image: Promise<any> | null = null;
if(snippet.preview) image = import(`../../../../snippets/${snippet.name}/${snippet.preview}.png`);
---

<Layout title={snippet.name} description={snippet.description[0]}>
    <div class="flex flex-col items-center pt-3">
        <div class="bg-foreground rounded-lg p-4" style="width: min(720px, 90%)">
            <div class="text-4xl font-bold mb-2 border-b border-gray-400">
                {snippet.name}
            </div>
            <div class="text-sm mb-4">
                By {snippet.author}
            </div>
            {snippet.description.map((line) => (
                <p class="mb-2">{line}</p>
            ))}
            {image && <Image src={image} alt={`A preview of ${snippet.name}`} />}
        </div>
    </div>
</Layout>